# DAT210x - Programming with Python for DS

## Module2 - Lab5

Import and alias Pandas:

In [49]:
# .. your code here ..
import pandas as pd
from pandas.api.types import CategoricalDtype

As per usual, load up the specified dataset, setting appropriate header labels.

In [50]:
# .. your code here ..
df = pd.read_csv('Datasets/census.data', 
                 names=['education', 'age', 'capital-gain', 'race', 
                         'capital-loss', 'hours-per-week', 'sex', 'classification'], 
                na_values='?')
df.head()

,education,age,capital-gain,race,capital-loss,hours-per-week,sex,classification
0,Bachelors,39,2174.0,White,0,40,Male,<=50K
1,Bachelors,50,NaN,White,0,13,Male,<=50K
2,HS-grad,38,NaN,White,0,40,Male,<=50K
3,11th,53,NaN,Black,0,40,Male,<=50K
4,Bachelors,28,0.0,Black,0,40,Female,<=50K

Excellent.

Now, use basic pandas commands to look through the dataset. Get a feel for it before proceeding!

Do the data-types of each column reflect the values you see when you look through the data using a text editor / spread sheet program? If you see `object` where you expect to see `int32` or `float64`, that is a good indicator that there might be a string or missing value or erroneous value in the column.

In [51]:
# .. your code here ..
df.info()
df.education.unique()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 29536 entries, 0 to 29535
Data columns (total 8 columns):
education         29536 non-null object
age               29536 non-null int64
capital-gain      29532 non-null float64
race              29536 non-null object
capital-loss      29536 non-null int64
hours-per-week    29536 non-null int64
sex               29536 non-null object
classification    29536 non-null object
dtypes: float64(1), int64(3), object(4)
memory usage: 2.0+ MB

array(['Bachelors', 'HS-grad', '11th', 'Masters', '9th', 'Some-college',
       '7th-8th', 'Doctorate', '5th-6th', '10th', '1st-4th', 'Preschool',
       '12th'], dtype=object)

Try use `your_data_frame['your_column'].unique()` or equally, `your_data_frame.your_column.unique()` to see the unique values of each column and identify the rogue values.

If you find any value that should be properly encoded to NaNs, you can convert them either using the `na_values` parameter when loading the dataframe. Or alternatively, use one of the other methods discussed in the reading.

In [52]:
# .. your code here ..
edu_cat = CategoricalDtype(categories=['Preschool', '1st-4th', '5th-6th', '7th-8th', '9th', '10th', 
           '11th', '12th', 'Some-college', 'HS-grad', 'Bachelors', 'Masters', 'Doctorate'], 
                           ordered=True)
df['education'] = df['education'].astype(edu_cat).cat.codes
clas_cat = CategoricalDtype(['<=50K', '>50K'], ordered=True)
df.classification = df.classification.astype(clas_cat).cat.codes

Look through your data and identify any potential categorical features. Ensure you properly encode any ordinal and nominal types using the methods discussed in the chapter.

Be careful! Some features can be represented as either categorical or continuous (numerical). If you ever get confused, think to yourself what makes more sense generally---to represent such features with a continuous numeric type... or a series of categories?

In [53]:
# .. your code here ..
nominals = pd.get_dummies(df[['race', 'sex']], columns=['race', 'sex'])
df = df.join(nominals)
cols = list(df.columns)
cols = cols[1:3] + cols[8:13] + cols[4:6] + cols[13:15] + cols[7:8]
df = df[cols]

Lastly, print out your dataframe!

In [54]:
# .. your code here ..
df

,age,capital-gain,race_Amer-Indian-Eskimo,race_Asian-Pac-Islander,race_Black,race_Other,race_White,capital-loss,hours-per-week,sex_Female,sex_Male,classification
0,39,2174.0,0,0,0,0,1,0,40,0,1,0
1,50,NaN,0,0,0,0,1,0,13,0,1,0
2,38,NaN,0,0,0,0,1,0,40,0,1,0
3,53,NaN,0,0,1,0,0,0,40,0,1,0
4,28,0.0,0,0,1,0,0,0,40,1,0,0
5,37,0.0,0,0,0,0,1,0,40,1,0,0
6,49,0.0,0,0,1,0,0,0,16,1,0,0
7,52,0.0,0,0,0,0,1,0,45,0,1,1
8,31,14084.0,0,0,0,0,1,0,50,1,0,1
9,42,5178.0,0,0,0,0,1,0,40,0,1,1
10,37,0.0,0,0,1,0,0,0,80,0,1,1
11,30,0.0,0,1,0,0,0,0,40,0,1,1
12,23,0.0,0,0,0,0,1,0,30,1,0,0
13,34,0.0,1,0,0,0,0,0,45,0,1,0
14,25,0.0,0,0,0,0,1,0,35,0,1,0
15,32,0.0,0,0,0,0,1,0,40,0,1,0
16,38,0.0,0,0,0,0,1,0,50,0,1,0
17,43,0.0,0,0,0,0,1,0,45,1,0,1
18,40,0.0,0,0,0,0,1,0,60,0,1,1
19,54,0.0,0,0,1,0,0,0,20,1,0,0
20,35,0.0,0,0,1,0,0,0,40,0,1,0
21,43,0.0,0,0,0,0,1,2042,40,0,1,0
22,59,0.0,0,0,0,0,1,0,40,1,0,0
23,56,0.0,0,0,0,0,1,0,40,0,1,1
24,19,0.0,0,0,0,0,1,0,40,0,1,0
25,54,0.0,0,1,0,0,0,0,60,0,1,1
26,39,0.0,0,0,0,0,1,0,80,0,1,0
27,49,0.0,0,0,0,0,1,0,40,0,1,0
28,20,0.0,0,0,1,0,0,0,44,0,1,0
29,45,0.0,0,0,0,0,1,1408,40,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...
29506,30,0.0,0,0,0,0,1,0,55,0,1,0
29507,32,0.0,0,0,0,0,1,0,40,0,1,0
29508,22,0.0,0,0,0,0,1,0,40,0,1,0
29509,31,0.0,0,0,0,0,1,0,40,1,0,0
29510,29,0.0,0,0,0,0,1,0,35,1,0,0
29511,35,0.0,0,0,0,0,1,0,55,1,0,1
29512,30,0.0,0,1,0,0,0,0,99,1,0,0
29513,34,0.0,0,0,0,0,1,0,60,0,1,1
29514,54,0.0,0,1,0,0,0,0,50,0,1,1
29515,37,0.0,0,0,0,0,1,0,39,1,0,0
29516,22,0.0,0,0,1,0,0,0,35,0,1,0
29517,34,0.0,0,0,0,0,1,0,55,1,0,1
29518,30,0.0,0,0,1,0,0,0,46,0,1,0
29519,38,15020.0,0,0,1,0,0,0,45,1,0,1
29520,71,0.0,0,0,0,0,1,0,10,0,1,1
29521,45,0.0,0,0,0,0,1,0,40,1,0,0
29522,41,0.0,0,0,1,0,0,0,32,1,0,0
29523,72,0.0,0,0,0,0,1,0,25,0,1,0
29524,31,0.0,0,0,0,1,0,0,30,1,0,0
29525,43,0.0,0,0,0,0,1,0,40,0,1,0
29526,43,0.0,0,0,0,0,1,0,40,1,0,0
29527,43,0.0,0,0,0,0,1,0,50,0,1,0
29528,32,0.0,1,0,0,0,0,0,40,0,1,0
29529,32,0.0,0,1,0,0,0,0,11,0,1,0
29530,53,0.0,0,0,0,0,1,0,40,0,1,1
29531,22,0.0,0,0,0,0,1,0,40,0,1,0
29532,40,0.0,0,0,0,0,1,0,40,0,1,1
29533,58,0.0,0,0,0,0,1,0,40,1,0,0
29534,22,0.0,0,0,0,0,1,0,20,0,1,0
29535,52,15024.0,0,0,0,0,1,0,40,1,0,1